@font-face { 
    font-family: 'Merriweather'; 
    src: url('/assets/fonts/Merriweather-Italic.ttf');
 }
 
 @font-face { 
    font-family: 'RussoOne'; 
    src: url('/assets/fonts/RussoOne-Regular.ttf');
 } 
 
 html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a:hover {
    color: white;
}

.nav-link:hover {
    color: grey !important;
}

#activities h2 {
    color: black;
}
#contact-info{
    padding-top:15px;
}

#contact-info h2 {
    color: black;
  
}

div h2, section h2 {
    text-align: center;
    padding-bottom: 10px;
}

#name {
    font-size: 25px;
    color: white;
    padding-right: 5%;
    margin: auto;
}

   .nav-link {   
    font-size:25px;
    color: #60a5a5 !important;
}
.navbar{
    background-color:#A49F9D;
    -webkit-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.75)
}

#navbar-brand
.about {
    position: relative;
}

.call-now{
    text-align: end;;
}

.call-now a{
    font-size:25px;
    color:white;
}

.call-now a:hover{
    text-decoration: none;
    color:grey;
}

.activities-header-img {
    width: 30px;
}

#banner-text {   
    font-size: 3.9vw;    
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
      
}

#banner-text {
    font-style: italic;
}

.main-c{
    color:#60a5a5;
}

#banner-text a {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size:2.5vw;
    background-color:grey;
  }
  
  #banner-text a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
  }

#banner-image {
    width: 100%;
}

.padding-57 {
    padding-top: 57px;
}

#activities {
    background-color: whitesmoke;
}

    #activities #more-info {
        text-align: center;
        width: 100%;
        font-style: oblique;
        font-weight: 1000;
        color:blue;
    }

#contact-info {
    background-color: grey;
}

    #contact-info div {
        color: white;
    }

ul li {
    font-size: 20px;
    padding-bottom: 5px;
}

.section-header {
    font-size: 25px;
    font-style: italic;
    color: black;
}

#activities-description {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}

.text-image {
    position: relative;
    text-align: center;
    color: white;
}

#info {
    text-align: center;
}

.contact-info{
    color:black;
}
.face-img {
    max-width:100%;
max-height:50%;
width:  25%;

display: block;
margin-left: auto;
margin-right: auto;
}

.maestro p{
    text-align: center;
    font-weight:500;
}


@media (min-width: 992px) {

    .active-link {
        border-bottom: 1px solid white;
        padding-bottom: 3px;
    }
}

@media (max-width: 992px) {

    ul li {
        font-size: 40px;
    }

    .nav-link {   
        font-size:45px;
    }

    section h2 {
        font-size: 60px;
    }
    section p {
        font-size:33px;
    }

    #activities-description{
        font-size:40px;
    }
    .section-header{
        font-size:55px;
    }

    #info{
        font-size:37px;
    }

    .activities-header-img {
        width: 60px;
    }
    #name {
        font-size: 40px;
    }
    .call-now a{
        font-size:40px;
    }
    .face-img {
    width:  50%;
    }
}
